body{
    margin: 0;
    background: linear-gradient(to left bottom, lightblue,lightpink,lightblue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: bisque;
    padding: 20px;
    box-shadow: 0 6px 10px lightpink;
    border-radius: 15px;
    width: 85%;
    text-align: center;
    color: darkgreen;
}

.joke{
    margin: 40px;
    font-size: 1.5rem;
}
.btn{
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color:  bisque;
    text-transform: uppercase;
    width: 300px;
    color: darkgreen;
}
.btn:hover{
    background-color: rgba(255, 255, 255, .3);

}